// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";

.bg-blue {
    background-color: $primary !important;
  }